{% include 'header.html' %}
{% include 'refreshtime.html' %}

<pre>
{{ log }}:
</pre>

<button onclick='window.scrollTo(0,document.body.scrollHeight);'
	class="simplebutton">Scroll to end</button>

<pre style="white-space: pre-wrap;">
{%- for line in text -%}
{%- if ' ok: ' in line -%}
<span style="color:green">
{%- elif ' skipping: ' in line -%}
<span style="color:teal">
{%- elif ' changed: ' in line -%}
<span style="color:yellow">
{%- elif ' WARNING]: ' in line -%}
<span style="color:purple">
{%- elif ' ERROR!' in line -%}
<span style="color:maroon">
{%- elif ' fatal: ' in line -%}
<span style="color:maroon">
{%- else -%}
<span style="color:silver">
{%- endif -%}
{{ line }}</span>
{%- endfor -%}
</pre>
  {% include 'refreshtime.html' %}
</body>
</html>
