<!-- ansiblelog.html -->
{% include 'header.html' %}
{% include 'refreshtime.html' %}

<pre>
{{ log }}:
</pre>

<button onclick='window.scrollTo(0,document.body.scrollHeight);'
  class="smallbutton">
    Scroll to end
</button>
<br>
<br>

<pre style="margin: 0; white-space: pre-wrap;">
<span style="color:silver">
{%- set continuespan = false %}
{%- for line in text -%}
  {#- just set variables about the line
      - note minus signs to trim jinja blocks newlines! -#}
  {%- if (' ok: ' in line or
           ('unreachable=0' in line and 'failed=0' in line) ) -%}
        {%- set spancolor = "green" -%}
    {%- elif (' skipping: ' in line or '...ignoring: ' in line) -%}
        {%- set spancolor = "teal" -%}
    {%- elif ' changed: ' in line -%}
        {%- set spancolor = "yellow" -%}
    {%- elif ' WARNING]: ' in line -%}
        {%- set spancolor = "lightcyan" -%}
    {%- elif (' ERROR!' in line or ' fatal: ' in line or ' failed: ' in line) -%}
        {%- set spancolor = "red" -%}
    {%- else -%}
        {%- set spancolor = "default" -%}
	{%- set continuespan = true -%}
  {%- endif -%}
  {#- check for json blocks -#}
  {#- start of json: -#}
  {%- if line.endswith('{\n') -%}
    {%- set continuespan = true %}
  {%- endif -%}
  {%- if line.endswith('}\n') -%}
    {%- set continuespan = false %}
  {%- endif -%}
  {#- end of json: -#}
  {%- if line|last == ('}') -%}
    {%- set continuespan = false %}
  {%- endif -%}
  {#- change color if needed - one line at a time -#}
  {%- if spancolor != "default" -%}
<span style="color:{{ spancolor }}">
  {%- endif -%}
{{- line -}}
  {%- if continuespan == false -%}
</span>
  {%- endif -%}
{%- endfor -%}

</span>
</pre>

<button onclick='window.scrollTo(0,0);'
  class="smallbutton">
    Scroll back to top
</button>

<br>
<br>

{% include 'refreshtime.html' %}

</body>
</html>
<!-- ansiblelog.html -->
