<script>
  function AreYouSurePid(p) {
    message=`Are You SURE you want to kill PID ${p} ?`
    var result = confirm(message);
    if (result == true) {
      self.location.href=`/kill?pid=${p}`
    }
    else {
      self.location.href='/jobs'
    }
  }
</script>

{% include 'header.html' %}
{% include 'refreshtime.html' %}

{% if jobs|length > 0 %}
<h2>Found {{ jobs|length }} processes currently running</h2>
<h2>(cmdline matching *ansible-playbook*):</h2>
{% include 'killall.html' %}
{% for job in jobs %}
<pre>PID {{ job.pid }} {{ job.cmdline|last }} <button onclick="AreYouSurePid({{ job.pid }})" class="smallbutton redbutton">KILL</button>  <button class="smallbutton bluebutton", onclick="self.location.href='/ansiblelog?play={{ job.cmdline|last|basename }}.log'">ansible log</button> </pre>
{% endfor %}
{% else %}
  <h2>No running ansible-playbook processes found</h2>
{% endif %}

</body>
</html>
