<!-- job.html -->
{% include 'header.html' %}
<script>
  function AreYouSurePid(p) {
    if (p == undefined) {
      message='Are You SURE you want to kill all jobs?'
      target='/killall'
    }
    else {
      message=`Are You SURE you want to kill PID ${p} ?`
      target=`/kill?pid=${p}`
    }
    var result = confirm(message);
    if (result == true) {
      self.location.href=target
    }
    else {
      self.location.href='/jobs'
    }
  }
</script>

{% include 'refreshtime.html' %}

{% if jobs|length > 0 %}
<h2>Found {{ jobs|length }} processes currently running</h2>
<h2>(cmdline matching *ansible-playbook*):</h2>
<table style="width:80%;">
  <thead>
    <tr>
      <th style="text-align:center;">
        Playbook Filename
      </th>

      <th style="text-align:center;">
        <button onclick="AreYouSurePid()"
          class="button redbutton"
          style="width:60%; padding:2% 2%; font-size 100%;">
            Kill all running jobs
        </button>
      </th>

      <th style="text-align:center;">
        <button onclick="self.location.href='/ansiblelog?play=list'"
          class="button bluebutton"
          style="width:60%; padding:2% 2%; font-size 100%;">
            All ansible logs
        </button>
      </th>
    </tr>
  </thead>

  <tbody>

{% for job in jobs %}
    <tr>

      <td style="text-align:center;">
        <h3>{{ job.cmdline|last }}</h3>
      </td>

      <td style="text-align:center;">
        <button onclick="AreYouSurePid({{ job.pid }})"
          class="smallbutton redbutton"
          style="width:50%;">
            KILL PID {{ job.pid }}
        </button>
      </td>

      <td style="text-align:center;">
        <button onclick="self.location.href='/ansiblelog?play={{ job.cmdline|last|basename }}.log'"
          class="smallbutton bluebutton">
          ansible log
        </button>
      </td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
<h2>No running ansible-playbook processes found</h2>
{% endif %}

</body>
</html>
<!-- job.html -->
