{% include 'header.html' %}
{% include 'refreshtime.html' %}
  <table style="table-layout:fixed; border: 1px solid black; width:80%;">
    <tr>
      <td valign="top", width=34%, text-align="left", style="border:1px solid black">
	<button class="button bluebutton" onclick="self.location.href='/log'"/>
	More Logs
	</button>
      </td>
      <td valign="top", width=34%, text-align="center", style="border:1px solid black">
	<button class="button bluebutton" onclick="self.location.href='/runall'">
	run all (green) playbooks
	</button>
      </td>
      <td valign="top", width=33%, text-align="right", style="border:1px solid black">
	<button class="button redbutton" onclick="self.location.href='/clearqueues'">
	Clear all queued jobs
	</button>
      </td>
    </tr>
    <tr>
      <td valign="top", width=34%, text-align="center", style="border:1px solid black">

	<h2>Pre-run playbooks</h2>

	{% for play in prerun %}
	<button class="button greenbutton" onclick="self.location.href='/playbooks/{{ play }}'">
	run {{ play }}
	</button>
	<br />
	{% endfor %}

      </td>

      <td valign="top", width=33%, text-align="center", style="border:1px solid black">
	<h2>Configured playbooks</h2>

	{% for play in playbooks %}
	<button class="button greenbutton" onclick="self.location.href='/playbooks/{{ play }}'">
	run {{ play }}
	</button>
	<br />
	{% endfor %}
	<button class="button orangebutton" onclick="self.location.href='/otherplays'">
	Other Playbooks
	</button>

      </td>

      <td style="vertial-align:right; word-break:break-all">
	<h2>Pre-Queued Jobs:</h2>
	{% if preq_message %}
	{% for message in preq_message %}
	<h3 style="color:silver">{{ message }}</h3>
	{% endfor %}
	{% else %}
	<h3>None</h3>
	{% endif %}

	<h2>Queued Jobs:</h2>
	<h3 style="color:silver">(multiples between [] will be concurrently run)</h3>
	{% if queue_message %}
	{% for message in queue_message %}
	<h3 style="color:silver">{{ message }}</h3>
	{% endfor %}
	{% else %}
	<h3>None</h3>
	{% endif %}
	<h3><a href="/jobs">Show currently running ansible-playbook processes</a></h3>
      </td>

    </tr>
  </table>

   </body>
</html>
