{% include 'header.html' %}
  {% include 'refreshtime.html' %}

  <script>
    function ReloadFunc() {
      location.reload(true);
    }
  </script>

  <table style="width:60%">
    <tr>
      <td valign="top", width=20%, text-align="center">
	<button class="button bluebutton" onclick="ReloadFunc()"/>
	Refresh this page
	</button>
      </td>
      <td valign="top", width=20%, text-align="center">
	<button class="button bluebutton" onclick="self.location.href='/runall'">
	run all (green) playbooks
	</button>
      </td>
      <td valign="top", width=20%>
	<button class="button redbutton" onclick="self.location.href='/clearqueues'">
	Clear all queued jobs
	</button>
      </td>
  </table>

  <table style="width:100%">
    <tr>
      <td valign="top", width=20%, text-align="center">

	<h2>Pre-run playbooks</h2>

	{% for play in prerun %}
	<button class="button greenbutton" onclick="self.location.href='/playbooks/{{ play }}'">
	run {{ play }}
	</button>
	<br />
	{% endfor %}

      </td>

      <td valign="top", width=20%, text-align="center">
	<h2>Configured playbooks</h2>

	{% for play in playbooks %}
	<button class="button greenbutton" onclick="self.location.href='/playbooks/{{ play }}'">
	run {{ play }}
	</button>
	<br />
	{% endfor %}
	<button class="button orangebutton" onclick="self.location.href='/otherplays'">
	Other Playbooks
	</button>

      </td>

      <td valign="top", width=60%>
	<h2>Pre-Queued Jobs:</h2>
	{% if preq_message %}
	{% for message in preq_message %}
	<h3 style="color:silver">{{ message }}</h3>
	{% endfor %}
	{% else %}
	<h3>None</h3>
	{% endif %}

	<h2>Queued Jobs:</h2>
	<h3 style="color:silver">(multiples between [] will be concurrently run)</h3>
	{% if queue_message %}
	{% for message in queue_message %}
	<h3 style="color:silver">{{ message }}</h3>
	{% endfor %}
	{% else %}
	<h3>None</h3>
	{% endif %}
	<h3><a href="/jobs">Show currently running ansible-playbook processes</a></h3>
      </td>

    </tr>
  </table>

  <table>
    <tr>
      <td valign="top", width=40%>
	{% include 'messages.html' %}
	<h3><a href="/log">More logs...</a></h3>
      </td>
    </tr>
  </table>

   </body>
</html>
