<!-- messages_long.html -->
{% if messages_long|length > 0 %}
      <h2>Last {{ messages_long|length }} messages (newest first):</h2>
  {% for message in messages_long %}
    {% if '[CRITICAL]' in message %}
      <h3 style="color:red">
    {% elif '[ERROR]' in message %}
      <h3 style="color:orange">
    {% elif '[WARNING]' in message or 'Queueing' in message %}
      <h3 style="color:lightcyan">
    {% elif '[INFO]' in message %}
      <h3 style="color:silver">
    {% else %}
      <h3>
    {% endif %}
      {{ message }}
      </h3>
  {% endfor %}

{% else %}
      <h3>No messages found yet</h3>
{% endif %}
<!-- messages_long.html -->
