<!-- messages.html -->
{% if messages|length > 0 %}
      <h2>Last {{ messages|length }} messages (newest first):</h2>

  {% for message in messages %}

    {% if '[CRITICAL]' in message %}
      <h3 style="color:red">
    {% elif '[ERROR]' in message %}
      <h3 style="color:orange">
    {% elif '[WARNING]' in message %}
      <h3 style="color:lightcyan">
    {% elif '[INFO]' in message %}
      <h3 style="color:silver">
    {% else %}
      <h3>
    {% endif %}
      {{ message }}
      </h3>
  {% endfor %}

  {% elif messages_long|length > 0 %}
      <h3>NOTE: for full logs, check syslog!</h3>
        <button onclick="self.location.href='/ansiblelog?play='"
          class="smallbutton bluebutton"
          style="width:35%; padding:2px 2px" >
        all ansible-playbook logs
        </button>
      <br>
        <button onclick="self.location.href='/jobs'"
          class="smallbutton orangebutton"
          style="width:35%; padding:2px 2px" >
        running ansible-playbook processes
        </button>
{% else %}
      <h3>No messages found yet</h3>
{% endif %}
<!-- messages.html -->
