<!-- other.html -->
{% include 'header.html' %}
{% include 'refreshtime.html' %}
      <h1>Other playbooks in root dir</h1>

{% for play in extras %}
      <button onclick="self.location.href='/otherplaybooks/{{ play }}'"
        style="width:20%;padding:10px 10px"
        class="button orangebutton" >
          run {{ play }}
      </button>
      <button onclick="self.location.href='/ansiblelog?play={{ play }}&latest=True'"
        style="width:20%;padding:10px 10px"
        class="button bluebutton" >
          log for {{ play }}
      </button>
      <br>
{% endfor %}
</body>
</html>
<!-- other.html -->
