<!-- other.html -->
{% include 'header.html' %}
{% include 'refreshtime.html' %}
<h2>Other playbooks in root dir</h1>

{% for play in extras %}
<button style="width:20%;padding:10px 10px" class="button orangebutton" onclick="self.location.href='/otherplaybooks/{{ play }}'">
run {{ play }}
</button>
<button style="width:20%;padding:10px 10px" class="button bluebutton" onclick="self.location.href='/ansiblelog?play={{ play }}.log'">
log for {{ play }}
</button>
<br />
{% endfor %}
</body>
</html>
<!-- other.html -->
