{% include 'refreshscripts.html' %}

<table style="width:100%; border: 1px solid black">
  <tr>
    <td style="width:80%; vertical-align:top; border:1px solid black">
      <div style="height:125px; width:100%;">
      {% include 'messages.html' %}
      </div>
    </td>

    <td style="text-align:right; vertical-align:top; border: 1px solid black">
      <h3>Anmad {{ version }}
	<br />
	{{ daemon_status["service"] }} daemon is
	{% if daemon_status["active_state"] != 'active' or daemon_status["sub_state"] != 'running' %}
	<span style="color:red">
	{% else %}
	<span style="color:green">
	{% endif %}
	{{ daemon_status["active_state"] }},
	{{ daemon_status["sub_state"] }} 
	</span>
	{{ daemon_status["state_change_timestamp"] }}
	<br />
	<br />
	last update: (Local Time)
	<br />
	<script>
	  document.write(moment("{{ time }} Z").format('ddd YYYY-MM-D HH:mm:ss'));
	</script>
	<br />
	<br />
	<script>
	  document.write(moment("{{ time }}").format('ddd YYYY-MM-D HH:mm:ss'));
	</script>
	<br />
	(UTC Time)
      </h3>
        <button style="width:40%; padding: 3% 6%" class="button greenbutton" onclick="self.location.href='/'">
	  Home
	</button>
	<button class="button bluebutton", style="width:40%; padding: 3% 6%" onclick="ReloadFunc()"/>
	  Refresh
	</button>
    </td>
  </tr>
</table>
<h2>ENDOFREFRESHTIME</H2>
