{% include 'header.html' %}
<body>
  <h1>Version {{ version }}</h1>
  {% include 'refreshtime.html' %}
  {% include 'backbutton.html' %}

{% if jobs|length > 0 %}
<h2>Found {{ jobs|length }} processes currently running (matching *ansible-playbook):</h2>
{% for job in jobs %}
<h4>PID {{ job.pid }} cmdlime={{ job.cmdline }}<a href="/kill?pid={{ job.pid }}">(KILL)</a></h4>
{% endfor %}
{% else %}
  <h3>No running ansible-playbook processes found</h3>
{% endif %}

{% include 'killall.html' %}
</body>
</html>
