{% include 'header.html' %}
<body>
  <h1>Version {{ version }}</h1>
  {% include 'refreshtime.html' %}
  {% include 'backbutton.html' %}

{% if jobs|length > 0 %}
<h2>Found {{ jobs|length }} processes currently running</h2>
<h2>(cmdline matching *ansible-playbook*):</h2>
{% for job in jobs %}
<pre class="tab">PID {{ job.pid }} playbook {{ job.cmdline|last }}     <a href="/kill?pid={{ job.pid }}">(KILL)</a>   <a href="/ansiblelogperproc?pid={{ job.pid }}">ansible.log</a> </pre>
{% endfor %}
{% else %}
  <h2>No running ansible-playbook processes found</h2>
{% endif %}

{% include 'killall.html' %}
</body>
</html>
