<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFLSURBVEhL7ZW9LgVRFEavRKPTUinUCg+A2n/vDTyBViLhBTwByS1UesELeAIFjQKFREQjwVpjH5lx3Wt+TulLVmaffU6+vefMzJnev3JoHj4C4+w6hFTAOKsm4AleA2Nz2bQFdn4UGJvLpkvQdDEwNpdFs/AO1zAWGJtzrrP2wY53itGXjM0510njcAdvMGUiZGzOOde01jrY6Wkxqsqcc65prWSyVoyqMjeseC1Ng9ugySj60ErpQY7iBHyr1CZcwEtgPHT7mr6KB/BbA7IHA0ofk138pQ34aSrexWPEA8/wGJyocxzYhGs10zSZL8AcPMA5fGsSmhxommmimab3cVUzcAvPxSi0DXZR90i2gCaaqdSU4xvQq1LgCkzW/al4+67XLBUpm0tli5oqfXCpyFJcU05WoJN8FcuGZXYhi1bBrXC/5QyWAfV6n30mgnbPfEwxAAAAAElFTkSuQmCC" rel="icon" type="image/x-icon" />

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>

<body>
  <h1>anmad {{ version }} log page</h1>
  <h2>The date and time on the server is: {{ time }}</h2>

  <button class="button greenbutton" onclick="self.location.href='/clearinfo'">
  Clear messages
  </button>
  <br />

    <h2>Last 100 messages (newest first):</h2>

    {% if messages %}
    {% for message in messages %}
      <h4>{{ ''.join(message) }}</h4>
    {% endfor %}
    {% else %}
      <h3>None</h3>
    {% endif %}

   </body>
</html>
