<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFLSURBVEhL7ZW9LgVRFEavRKPTUinUCg+A2n/vDTyBViLhBTwByS1UesELeAIFjQKFREQjwVpjH5lx3Wt+TulLVmaffU6+vefMzJnev3JoHj4C4+w6hFTAOKsm4AleA2Nz2bQFdn4UGJvLpkvQdDEwNpdFs/AO1zAWGJtzrrP2wY53itGXjM0510njcAdvMGUiZGzOOde01jrY6Wkxqsqcc65prWSyVoyqMjeseC1Ng9ugySj60ErpQY7iBHyr1CZcwEtgPHT7mr6KB/BbA7IHA0ofk138pQ34aSrexWPEA8/wGJyocxzYhGs10zSZL8AcPMA5fGsSmhxommmimab3cVUzcAvPxSi0DXZR90i2gCaaqdSU4xvQq1LgCkzW/al4+67XLBUpm0tli5oqfXCpyFJcU05WoJN8FcuGZXYhi1bBrXC/5QyWAfV6n30mgnbPfEwxAAAAAElFTkSuQmCC" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">

</head>

<body>
  <h1>anmad {{ version }} last refresh at {{ time }}</h1>

  <table style="width:60%">
    <tr>
      <td valign="top", width=20%, text-align="center">
	<button class="button bluebutton" onclick="window.open('/ara','_blank')"/>
	ARA Reports page
	</button>
      </td>
      <td valign="top", width=20%, text-align="center">
	<button class="button bluebutton" onclick="self.location.href='/runall'">
	run all (green) playbooks
	</button>
      </td>
      <td valign="top", width=20%>
	<button class="button redbutton" onclick="self.location.href='/clearqueues'">
	Clear all queued jobs
	</button>
      </td>
  </table>

  <table style="width:100%">
    <tr>
      <td valign="top", width=20%, text-align="center">

	<h2>Pre-run playbooks</h2>

	{% for play in prerun %}
	<button class="button greenbutton" onclick="self.location.href='/playbooks/{{ play }}'">
	run {{ play }}
	</button>
	<br />
	{% endfor %}

      </td>

      <td valign="top", width=20%, text-align="center">
	<h2>Configured playbooks</h2>

	{% for play in playbooks %}
	<button class="button greenbutton" onclick="self.location.href='/playbooks/{{ play }}'">
	run {{ play }}
	</button>
	<br />
	{% endfor %}

      </td>

      <td valign="top", width=60%>
	<h2>Pre-Queued Jobs:</h2>
	{% if preq_message %}
	{% for message in preq_message %}
	<h3>{{ message }}</h3>
	{% endfor %}
	{% else %}
	<h3>None</h3>
	{% endif %}

	<h2>Queued Jobs:</h2>
	<h3>(multiples will be concurrent)</h3>
	{% if queue_message %}
	{% for message in queue_message %}
	<h3>{{ message }}</h3>
	{% endfor %}
	{% else %}
	<h3>None</h3>
	{% endif %}
      </td>

    </tr>
  </table>

  <table>
    <tr>
      <td valign="top", width=40%>
	<h2>Last 3 messages (newest first):</h2>
	{% if messages %}
	{% for message in messages[0:3] %}
	  <h4>{{ ''.join(message) }}</h4>
	{% endfor %}
	{% else %}
	  <h3>None</h3>
	{% endif %}
      </td>
    </tr>
  </table>

   </body>
</html>
